* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  background-image: url('../public/images/Sky1920.jpg');
  color: rgb(0, 0, 0);
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  width: 800px;
}

/* className="fixed top-0  left-0 h-screen bg-stone w-screen  -z-10 " */
.canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #202121; /* stone color */
  z-index: -10;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 10px;
  display: flex;
  align-items: flex-start;
  transition: 0.6 cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row {
  color: #202121;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: rgb(29, 29, 32);

  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .discription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  min-height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.discription p {
  color: #000000;
  padding-top: 10px;
}

.discription h1 {
  padding-top: 10px;
  color: #000000;
  text-transform: uppercase;
}

.discription h3 {
  color: #000000;
  padding-top: 5px;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .discription {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for='c1'] {
  background-image: url('../public/images/summer.jpg');
}

.card[for='c2'] {
  background-image: url('../public/images/autum.jpg');
}

.card[for='c3'] {
  background-image: url('../public/images/spring.jpg');
}

.card[for='c4'] {
  background-image: url('../public/images/winter.jpg');
}
